@import '../../Sass/variables';
.home{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    background-color: $lightGrey;

   &__header{
    width: 100%;
    height: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
   }
   &__navbar{
    width: 100%;
    z-index: 5;
   }
   &__about{
    background-color:$lightGrey;
   }
   &__title{
    padding-top: 1rem;
    color:  rgba(75, 77, 99, 1);
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2rem;
    margin-top: 0;
   }
   &__navBurger{
    display: none;
   }
}
@media only screen and (max-width: 560px) {

    .home{
        position: relative;

        &__navBurger{
            padding: 0.5rem;
            display: block ;
           }
    }   
   }