@import'../../Sass/variables';
.education{
    background-color: $lightGrey;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem ;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2rem;

    &__top{
        background-color: white;
        margin: 2rem;
        padding: 1rem;
        box-shadow: 0px 0px 1px 0.5px rgb(156, 158, 176);
    }
    &__kursiv{
        font-style: italic;
    }
    &__navbar{
        z-index: 5;
        position: relative;
    }
    &__link{
        text-decoration: none;
        color: black;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 0.5rem;
        box-shadow: 0px 0px 0.5px 0.3px rgb(156, 158, 176);
    }
    &__link:hover{
        box-shadow: 0px 0px 1px 0.5px rgb(156, 158, 176);
        font-weight: 400;
    }
    &__headline{
        color:  rgba(75, 77, 99, 1);
    }
    &__header{
        width: 100%;
        height: 500px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto; 
    }
    &__title{
        margin-left: 2rem;
        color:  rgba(75, 77, 99, 1);
        font-size: 1.2rem;
    }
    &__navBurger{
        display: none ;
       }
}
@media only screen and (max-width: 560px) {

    .education{
        position: relative;
        
        &__navBurger{
            padding: 0.5rem;
            display: block ;
           }
    }   
   }