@import '../../Sass/variables';
.NavBurger{
    width: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;

    &__nav{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.75rem;
        background-color: $salmonPink;
        position: absolute;
        left: 0;
        z-index: 2;
        padding: 0.5rem;
    }
    &__title{
        display: flex;
    }
    &__text{
        padding-left: 1rem;
        font-size:1rem;
    }
   
}
