@import '../../Sass/variables';

.navigation{
    
    &__nav{
        background-color: $salmonPink;
        display: flex;
        justify-content: space-around;
        box-shadow: 0px 0px 2px 1.5px rgb(156, 158, 176);
    }
    &__titles{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.75rem;
    }
    &__titles:hover{
        font-weight: 400;
       box-shadow: 0px 1px;
    }
    &__titles:visited{
        color: whitesmoke;
    }
}
@media only screen and (max-width: 560px) {

    .navigation__nav{
        display: none;
    }
     
   }